.title, .text {
    margin-bottom: 20px;
    font-family: "Poppins Bold";
    color: #232323;
    letter-spacing: -.7px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 3.375rem;
    margin-top: 0;
}

.image_wrapper {
    margin: 0px 30px;
}
  
.image_wrapper img {
    width: 55%;
}
