h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
}
  
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
  
.socials a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}
  
.socials a:hover {
  color: #284B63;
}
  
.logo-container {
  text-align: center;
}
  
.logo img {
  width: 150px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  animation: grow 1s linear;
}
  
@keyframes grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}
  
.email {
  text-align: right;
}
  
.email p {
  margin: 0;
  font-size: 20px;
  transition: color 0.3s ease;
}
  
.email:hover p {
  color: #284B63;
}
  
.email a {
  color: #fff;
  text-decoration: none;
}
  
.email a:hover {
  text-decoration: none;
  color: #ccc;
}
  
  
.footer .copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
}
  
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
  .socials {
    margin-bottom: 1rem;
  }
  
  .email {
    text-align: center;
  }
}
  